@model IEnumerable<NorthwestLab.Models.Clients>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Northwest Labs</h1>
    <p class="lead">Get a free estimate below for your companies chemical and compound testing needs today.</p>
    <p><a href="~/Views/Home/Estimate.cshtml" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Work Order Status</h2>
        <div class="loader"></div>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Status &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Work Order Status</h2>
        <div class="loader"></div>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Status &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Work Order Status</h2>
        <div class="loader"></div>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Status &raquo;</a></p>
    </div>
</div>